*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
}

nav{
    width: 80%;
    height: 35px;
    display: flex;
    background-color: orange;
}

.foto{
    width: 20%;
    padding: 5px;
    border-style: dashed;

}

.mylink{
    width: 60%;
    padding: 5px;
    text-align: center;
    border-style: dashed;
}

.container{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid white;
    background-color: rgb(20, 20, 113);
}

.purple-box{
    width: 60%;
    height: 85%;
    background-color: rgb(178, 115, 182);
    border-style: dashed;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgray;
}

.big-box{
    width: 50%;
    height: 85%;
    border-style: dashed;
    background-color: lightskyblue;
}

.little-box{
    width: 30%;
    height: 85%;
    border-style: dashed;
    background-color: lightpink;
}

.last-box{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-box{
    width: 80%;
    height: 85%;
    border-style: dashed;
    background-color: green;
}

.container.last{
    background-color: rgb(43, 40, 40);
}

#pink{
    background-color: rgb(245, 116, 137);
}

.multiple-box{
    width: 12.5%;
    height: 85%;
    border-style: dashed;
    border-color: white;
    background-color: rgb(43, 233, 224);
}

.credentials{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(43, 40, 40);
}

#box-credentials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(114, 215, 190);

}

.logo-button{
    width: 8%;
    height: 65%;
    text-align: center;
    border-style: dashed;
    background-color: rgb(245, 116, 137);
}

